In [1]:
!pip install rdflib

Requirement already satisfied: rdflib in c:\users\marti\anaconda3\lib\site-packages (5.0.0)
Requirement already satisfied: isodate in c:\users\marti\anaconda3\lib\site-packages (from rdflib) (0.6.0)
Requirement already satisfied: pyparsing in c:\users\marti\anaconda3\lib\site-packages (from rdflib) (2.4.0)
Requirement already satisfied: six in c:\users\marti\anaconda3\lib\site-packages (from rdflib) (1.12.0)

In [2]:
from rdflib import Graph, Namespace, Literal
from rdflib.namespace import RDF, RDFS
g = Graph()
example = Graph()

g.parse("../ontology/Presupuesto_Ayuntamiento_Madrid.ttl", format="ttl")
example.parse("../ontology/example.ttl", format="ttl")

First, let's see both graphs in turtle format.

* The ontology:

In [3]:
print(g.serialize(format="ttl").decode("UTF-8"))

@prefix default: <http://group10.com/> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://group10.com> a owl:Ontology .

default:creditoDispuesto a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:float .

default:creditoGastado a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:float .

default:descripcion a owl:DatatypeProperty ;
    rdfs:range xsd:string .

default:id a owl:DatatypeProperty ;
    rdfs:range xsd:string .

default:previsionIngresos a owl:DatatypeProperty ;
    rdfs:domain default:Ingresos ;
    rdfs:range xsd:float .

default:recaudado a owl:DatatypeProperty ;
    rdfs:domain default:Ingresos ;
    rdfs:range xsd:float .

default:tieneCapitulo a owl:DatatypeProperty ;
    rdfs:domain default:Economico ;
    rdfs:range xsd:string .

default:tienePrograma a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:string .

default:tieneSeccion a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:string .

default:tieneCentro a owl:InverseFunctionalProperty,
        owl:ObjectProperty ;
    rdfs:domain default:Economico ;
    rdfs:range default:Centro ;
    owl:inverseOf default:tieneEconomico .

default:tieneEconomico a owl:InverseFunctionalProperty,
        owl:ObjectProperty ;
    rdfs:domain default:Centro ;
    rdfs:range default:Economico ;
    owl:inverseOf default:tieneCentro .

default:Centro a owl:Class .

default:Ingresos a owl:Class ;
    rdfs:subClassOf default:Economico .

default:Gastos a owl:Class ;
    rdfs:subClassOf default:Economico .

default:Economico a owl:Class .

* The example

In [4]:
print(example.serialize(format="ttl").decode("UTF-8"))

@prefix default: <http://group10.com/> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://group10.com> a owl:Ontology .

default:creditoDispuesto a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:float .

default:creditoGastado a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:float .

default:descripcion a owl:DatatypeProperty ;
    rdfs:range xsd:string .

default:id a owl:DatatypeProperty ;
    rdfs:range xsd:string .

default:previsionIngresos a owl:DatatypeProperty ;
    rdfs:domain default:Ingresos ;
    rdfs:range xsd:float .

default:recaudado a owl:DatatypeProperty ;
    rdfs:domain default:Ingresos ;
    rdfs:range xsd:float .

default:tieneCapitulo a owl:DatatypeProperty ;
    rdfs:domain default:Economico ;
    rdfs:range xsd:string .

default:tienePrograma a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:string .

default:tieneSeccion a owl:DatatypeProperty ;
    rdfs:domain default:Gastos ;
    rdfs:range xsd:string .

default:Canones a default:Gastos ;
    default:creditoDispuesto "3630.0"^^xsd:float ;
    default:creditoGastado "3630.0"^^xsd:float ;
    default:descripcion "Cánones"@es ;
    default:id "20901"@es ;
    default:tieneCapitulo "Gastos en Bienes Corrientes y Servicios"@es ;
    default:tieneCentro default:AyuntamientoMadrid ;
    default:tienePrograma "Promoción del Plan de Derechos Humanos"@es ;
    default:tieneSeccion "Presidencia del Pleno"@es .

default:IRPF a default:Ingresos ;
    default:descripcion "Impuesto sobre la Renta de las Personas Físicas"@es ;
    default:id "10000"@es ;
    default:previsionIngresos "130870792.0"^^xsd:float ;
    default:recaudado "154049248.0"^^xsd:float ;
    default:tieneCapitulo "Impuestos directos"@es ;
    default:tieneCentro default:AyuntamientoMadrid .

default:tieneCentro a owl:InverseFunctionalProperty,
        owl:ObjectProperty ;
    rdfs:domain default:Economico ;
    rdfs:range default:Centro ;
    owl:inverseOf default:tieneEconomico .

default:tieneEconomico a owl:InverseFunctionalProperty,
        owl:ObjectProperty ;
    rdfs:domain default:Centro ;
    rdfs:range default:Economico ;
    owl:inverseOf default:tieneCentro .

default:AyuntamientoMadrid a default:Centro ;
    default:descripcion "Ayuntamiento de Madrid"@es ;
    default:id "1"@es ;
    default:tieneEconomico default:Canones,
        default:IRPF .

default:Centro a owl:Class .

default:Ingresos a owl:Class ;
    rdfs:subClassOf default:Economico .

default:Economico a owl:Class .

default:Gastos a owl:Class ;
    rdfs:subClassOf default:Economico .

Show all the elements of the ontology, including the class that each one belongs to:

In [5]:
from rdflib.plugins.sparql import prepareQuery
query_all_elements = prepareQuery('''
    SELECT DISTINCT ?x ?y
    WHERE
    {
      ?x rdf:type ?y
    }
  '''
)

for r in g.query(query_all_elements):
  print("Element: " + str(r.x) + " -  Class: " + str(r.y))

Element: http://group10.com/tieneCentro -  Class: http://www.w3.org/2002/07/owl#ObjectProperty
Element: http://group10.com/Gastos -  Class: http://www.w3.org/2002/07/owl#Class
Element: http://group10.com/Economico -  Class: http://www.w3.org/2002/07/owl#Class
Element: http://group10.com/tieneEconomico -  Class: http://www.w3.org/2002/07/owl#InverseFunctionalProperty
Element: http://group10.com/creditoDispuesto -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/tieneSeccion -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/tieneCapitulo -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/tieneEconomico -  Class: http://www.w3.org/2002/07/owl#ObjectProperty
Element: http://group10.com/Centro -  Class: http://www.w3.org/2002/07/owl#Class
Element: http://group10.com/descripcion -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/recaudado -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/id -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/tienePrograma -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/previsionIngresos -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/Ingresos -  Class: http://www.w3.org/2002/07/owl#Class
Element: http://group10.com/creditoGastado -  Class: http://www.w3.org/2002/07/owl#DatatypeProperty
Element: http://group10.com/tieneCentro -  Class: http://www.w3.org/2002/07/owl#InverseFunctionalProperty
Element: http://group10.com -  Class: http://www.w3.org/2002/07/owl#Ontology

Show the classes of the ontology:

In [6]:
from rdflib.plugins.sparql import prepareQuery

owl = Namespace("http://www.w3.org/2002/07/owl#")

# It can be also done in this way:
#for s,p,o in g.triples((None, None, owl.Class)):
#  print(s)

query_class = prepareQuery('''
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a owl:Class
    }
  ''',
  initNs = { "owl": owl }
)


for r in g.query(query_class):
  print(r.x)

http://group10.com/Centro
http://group10.com/Gastos
http://group10.com/Ingresos
http://group10.com/Economico

Count all the classes:

In [7]:
query_count = prepareQuery('''
    SELECT (count(?x) as ?cuenta)
    WHERE
    {
      ?x a owl:Class
    }
  ''',
  initNs = { "owl": owl }
)


for r in g.query(query_count):
  print(r.cuenta)

4

See all the properties of the ontology, divided by the type of the property:

In [8]:
query_properties = prepareQuery('''
    SELECT DISTINCT ?data
    WHERE
    {
      ?data a owl:DatatypeProperty.
    }
  ''',
  initNs = { "owl": owl }
)


query_properties2 = prepareQuery('''
    SELECT DISTINCT ?obj
    WHERE
    {
      ?obj a owl:ObjectProperty
    }
  ''',
  initNs = { "owl": owl }
)



print("Datatype Properties:")
for r in g.query(query_properties):
  print(r.data)

print("Object properties")
for r in g.query(query_properties2):
  print(r.obj)

Datatype Properties:
http://group10.com/descripcion
http://group10.com/recaudado
http://group10.com/tienePrograma
http://group10.com/creditoDispuesto
http://group10.com/id
http://group10.com/previsionIngresos
http://group10.com/tieneSeccion
http://group10.com/tieneCapitulo
http://group10.com/creditoGastado
Object properties
http://group10.com/tieneEconomico
http://group10.com/tieneCentro

All the classes with the property "tieneCentro":

In [9]:
ns = Namespace("http://group10.com/")

query_tieneCentro = prepareQuery('''
    SELECT DISTINCT ?x ?y ?clase
    WHERE
    {
      ?x ?tieneCentro ?y.
      ?x a ?clase.
    }
  '''
)


for r in example.query(query_tieneCentro, initBindings = {'?tieneCentro' : ns.tieneCentro}):
  print(r.clase)

http://group10.com/Gastos
http://group10.com/Ingresos

See all the instances of the example:

In [10]:
query_instances = prepareQuery('''
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a ?y.
      ?y a owl:Class.
    }
  ''',
  initNs = { "owl": owl }
)

for r in example.query(query_instances):
  print(r.x)

http://group10.com/AyuntamientoMadrid
http://group10.com/IRPF
http://group10.com/Canones

Show the instances that belong to the class "Centro":

In [11]:
query_instances_class = prepareQuery('''
    SELECT DISTINCT ?y
    WHERE
    {
      ?y a ?class.
      
    }
  ''',
  initNs = { "owl": owl }
)


for r in example.query(query_instances_class, initBindings = {'?class' : ns.Centro}):
  print(r.y)

http://group10.com/AyuntamientoMadrid

Show all the properties and their values of the instance of the class "Gastos"

In [12]:
#Properties and possible values of a certain class

query_property_value = prepareQuery('''
    SELECT DISTINCT ?prop ?y

    WHERE {
     ?x a ?class.
     ?x ?prop ?y.
     } 

  ''',
  initNs = { "owl": owl}
)


for r in example.query(query_property_value, initBindings = {'?class' : ns.Gastos}):
  print("Property: " + str(r.prop) + " - Value: " + str(r.y))

Property: http://group10.com/tienePrograma - Value: Promoción del Plan de Derechos Humanos
Property: http://group10.com/creditoGastado - Value: 3630.0
Property: http://group10.com/id - Value: 20901
Property: http://group10.com/tieneCapitulo - Value: Gastos en Bienes Corrientes y Servicios
Property: http://www.w3.org/1999/02/22-rdf-syntax-ns#type - Value: http://group10.com/Gastos
Property: http://group10.com/creditoDispuesto - Value: 3630.0
Property: http://group10.com/tieneCentro - Value: http://group10.com/AyuntamientoMadrid
Property: http://group10.com/descripcion - Value: Cánones
Property: http://group10.com/tieneSeccion - Value: Presidencia del Pleno

Finally, let's see if there is any "Ingreso" of more than 1000000 euros:

In [13]:
query_ingresos = prepareQuery('''
    SELECT DISTINCT ?x ?y
    WHERE
    {
      ?x a ?class.
      ?x ?ingresos ?y
      FILTER (?y > 1000000)

    }

  ''',
  initNs = { "ns": ns}
)


for r in example.query(query_ingresos, initBindings = {'?class' : ns.Ingresos, "?ingresos" : ns.recaudado}):
  print("Ingreso: " + str(r.x) + " - Quantity: " + r.y)

Ingreso: http://group10.com/IRPF - Quantity: 154049248.0