In [1]:
!pip install rdflib

Requirement already satisfied: rdflib in c:\users\marti\anaconda3\lib\site-packages (5.0.0)
Requirement already satisfied: six in c:\users\marti\anaconda3\lib\site-packages (from rdflib) (1.12.0)
Requirement already satisfied: isodate in c:\users\marti\anaconda3\lib\site-packages (from rdflib) (0.6.0)
Requirement already satisfied: pyparsing in c:\users\marti\anaconda3\lib\site-packages (from rdflib) (2.4.0)

In [2]:
from rdflib import Graph, Namespace, Literal
from rdflib.namespace import RDF, RDFS
g = Graph()
example = Graph()

example.parse("triples.nt", format="nt")
#g.parse("triples-with-links.nt", format="nt")

In [6]:
print(g.serialize(format="ttl").decode("UTF-8"))

In [7]:
print(example.serialize(format="ttl").decode("UTF-8"))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

# Show all the elements of the ontology, including the class to each one belongs to:

In [13]:
from rdflib.plugins.sparql import prepareQuery
query_all_elements = prepareQuery('''
    SELECT DISTINCT ?x ?y
    WHERE
    {
      ?x rdf:type ?y
    }
  '''
)

for r in g.query(query_all_elements):
  print("Element: " + str(r.x) + " -  Class: " + str(r.y))

# See all the classes of the ontology:

In [4]:
from rdflib.plugins.sparql import prepareQuery

owl = Namespace("http://www.w3.org/2002/07/owl#")


query_class = prepareQuery('''
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a owl:Class
    }
  ''',
  initNs = { "owl": owl }
)


for r in example.query(query_class):
  print(r.x)

# See all the instances of the example:

In [11]:
query_instances = prepareQuery('''
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a ?y.
      ?y a owl:Class.
    }
  ''',
  initNs = { "owl": owl }
)

for r in example.query(query_instances):
  print(r.x)

# See all IRIs

In [5]:
query_iris = prepareQuery('''        
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a owl:sameAs
    }
  ''',
  initNs = { "owl": owl }
)

for r in example.query(query_iris):
  print(r.x)