In [9]:
from rdflib import Graph, Namespace, Literal
from rdflib.namespace import RDF, RDFS
g = Graph()
g.parse("triples-vocabulary-with-links.nt", format="ttl")

In [10]:
print(g.serialize(format="ttl").decode("UTF-8"))

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

C:\Users\Emilio\anaconda3\lib\site-packages\rdflib\term.py:1276: UserWarning: Serializing weird numerical rdflib.term.Literal('', datatype=rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#double'))
  warnings.warn("Serializing weird numerical %r" % self)

In [292]:
#QUERY TO OBTAIN GASTOS OF EACH CENTRO

from rdflib.plugins.sparql import prepareQuery

#<http://group10.com/ontology/tieneCentro>

Centros=[]   #Obtain a list with all centros, not necesary
for r in g.query(query_all_elements): 
    if str(r.y) in Centros:
        pass
    else:
        Centros.append(str(r.y))
        

from rdflib.plugins.sparql import prepareQuery
query_all_elements = prepareQuery('''
    SELECT DISTINCT ?z ?y
    WHERE
    {
      ?x <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://group10.com/ontology/Gastos>.
      ?x <http://group10.com/ontology/tieneCentro> ?y.
      ?x <http://purl.org/cerif/frapo/hasCost> ?z
    }
  '''
)

Dict = {}
#Calculation
for r in g.query(query_all_elements):
    if r.y in Dict:
        Dict[str(r.y)] += float(r.z)
    else:
        Dict[str(r.y)] = float(r.z)

In [73]:
#Query to select the sum of all of the ingresos for each Centro

from rdflib.plugins.sparql import prepareQuery

#<http://group10.com/ontology/tieneCentro>

Centros=[]   #Obtain a list with all centros, not necesary
for r in g.query(query_all_elements): 
    if str(r.y) in Centros:
        pass
    else:
        Centros.append(str(r.y))
        

from rdflib.plugins.sparql import prepareQuery
query_all_elements = prepareQuery('''
    SELECT DISTINCT ?z ?y
    WHERE
    {
      ?x <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://group10.com/ontology/Ingresos>.
      ?x <http://group10.com/ontology/tieneCentro> ?y.
      ?x <http://purl.org/cerif/frapo/hasMonetaryValue> ?z
    }
  '''
)

Dict1 = {}
#Calculation
for r in g.query(query_all_elements):
    if r.y in Dict1:
        Dict1[str(r.y)] += float(r.z)
    else:
        Dict1[str(r.y)] = float(r.z)
            
Dict1

{'Ayuntamiento de Madrid': 4625006.72,
 'AGENCIA TRIBUTARIA  MADRID': 0.0,
 'Madrid Salud': 77381295.75,
 'INFORMATICA DEL AYUNTAMIENTO DE MADRID': 750.78,
 'AGENCIA PARA EL EMPLEO DE MADRID': 9572.0,
 'CONSOR. PLAN REHAB.EQUIP.TEATROS MADRID': 0.0,
 'AGENCIA DE ACTIVIDADES': 13026497.5}

In [293]:
##Query to select the sum of all of the gastos for each seccion that has a longitude and latitude (the districts)
query_all_elements = prepareQuery('''
     SELECT DISTINCT ?x ?y
     WHERE
{
?x <http://group10.com/ontology/tieneCoordenadas> ?y

}
'''
)

Dict2 = {}
path="http://group10.com/resource/Seccion/"
espacios="%20"
#Calculation
for r in g.query(query_all_elements):
    if str(r.y) in Distritos:
        pass
    if str(r.y) == "":
        pass
    else:
        Dict2[str(r.x).replace(path,"").replace(espacios," ")] = str(r.y) ##Coordinates as strings
Dict2

{'Tetuan': '40.460556,-3.7',
 'Hortaleza': '40.469457,-3.640482',
 'Latina': '40.402461111111,-3.7412944444444',
 'Barajas': '40.470196,-3.58489',
 'Salamanca': '40.43,-3.677778',
 'Villaverde': '40.345925,-3.7093555555556',
 'Fuencarral-El Pardo': '40.478611111111,-3.7097222222222',
 'San Blas-Canillejas': '40.426001,-3.612764',
 'Centro': '40.415347,-3.707371',
 'Usera': '40.381336111111,-3.7068555555556',
 'Vicalvaro': '40.4042,-3.60806',
 'Moncloa-Aravaca': '40.435151,-3.718765',
 'Chamartin': '40.453333333333,-3.6775',
 'Ciudad Lineal': '40.45,-3.65',
 'Carabanchel': '40.383669444444,-3.7279888888889',
 'Arganzuela': '40.402733,-3.695403',
 'Chamberi': '40.432791666667,-3.6971861111111',
 'Retiro': '40.408072,-3.676729',
 'Puente de Vallecas': '40.398204,-3.669059',
 'Moratalaz': '40.409869444444,-3.6444361111111',
 'Villa de Vallecas': '40.3796,-3.62135'}

In [256]:
##Query to select the sum of all of the gastos for each seccion that has a longitude and latitude (the districts)
query_all_elements1 = prepareQuery('''
    SELECT DISTINCT ?x ?z ?y
    WHERE
    {
      ?x <http://purl.org/cerif/frapo/hasCost> ?z.
      ?x <http://group10.com/ontology/tieneSeccion> ?y.
    }
  '''

)
query_all_elements2 = prepareQuery('''
     SELECT DISTINCT ?x ?y
     WHERE
{
?x <http://group10.com/ontology/tieneCoordenadas> ?y.

}
'''
)                                 

DistritosCoordenada=[]
for r in g.query(query_all_elements2):
    if str(r.y)=="":
        pass
    else:
        DistritosCoordenada.append(str(r.x).replace(path,"").replace("%20"," "))
        
Dict3={}
for r in g.query(query_all_elements1):
    for s in DistritosCoordenada:
        if(str(r.y)==s):
            if str(r.y) in Dict3:
                Dict3[str(r.y)] += float(r.z)
            else:
                Dict3[str(r.y)] = float(r.z)
Dict3

{'Chamartin': 21798923.919999998,
 'Moratalaz': 25235086.71999999,
 'Centro': 27167415.669999998,
 'Villaverde': 39744428.55000001,
 'Fuencarral-El Pardo': 39202597.57,
 'Salamanca': 19000925.959999993,
 'San Blas-Canillejas': 32585893.23,
 'Tetuan': 28925786.59,
 'Puente de Vallecas': 57943993.36000001,
 'Chamberi': 16950983.759999994,
 'Hortaleza': 28129699.189999986,
 'Usera': 38228388.92,
 'Arganzuela': 25282420.95000001,
 'Ciudad Lineal': 35358711.88999999,
 'Vicalvaro': 23636289.110000007,
 'Latina': 51224555.57999998,
 'Carabanchel': 42754393.070000015,
 'Villa de Vallecas': 20845041.01,
 'Barajas': 14372939.199999997,
 'Moncloa-Aravaca': 32060067.09999999,
 'Retiro': 21204803.259999998}

In [289]:
#Query to select the sum of 
##all the gastos for each seccion that does not have a longitude or latitude and sum them (so one sum of all)

query_all_elements1 = prepareQuery('''
    SELECT DISTINCT ?x ?z ?y
    WHERE
    {
      ?x <http://purl.org/cerif/frapo/hasCost> ?z.
      ?x <http://group10.com/ontology/tieneSeccion> ?y.
    }
  '''

)
query_all_elements2 = prepareQuery('''
     SELECT DISTINCT ?x ?y
     WHERE
{
?x <http://group10.com/ontology/tieneCoordenadas> ?y.

}
'''
)    

DistritosinCoordenada=[]
Dict4={}
for r in g.query(query_all_elements2):
    if str(r.y)!="":
        pass
    else:
        DistritosinCoordenada.append(str(r.x).replace(path,"").replace("%20"," "))
        
for r in g.query(query_all_elements1):
    for s in DistritosinCoordenada:
        if(str(r.y)==s):
            if str(r.y) in Dict4:
                Dict4[str(r.y)] += float(r.z)
            else:
                Dict4[str(r.y)] = float(r.z)
Dict4

{'A.D. INTERNACIONALIZACION Y COOPERACION': 8219117.93,
 'MEDIO AMBIENTE Y MOVILIDAD': 1212095312.1399999,
 'HACIENDA Y PERSONAL': 304846562.7000002,
 'COORD. TERRITORIAL Y COOP. PUBLICO-SOCIAL': 31765764.919999998,
 'AREA DELEGADA VIVIENDA': 48511984.32,
 'TRIBUNAL ECONOMICO-ADMINISTRATIVO': 2899068.75,
 'VICEALCALDIA': 1683532.8600000003,
 'COORDINACION GENERAL DE LA ALCALDIA': 54864476.69000001,
 'GERENCIA DE LA CIUDAD': 206079584.37000006,
 'planeamiento urbanistico': 479456088.6400001,
 'OBRAS Y EQUIPAMIENTOS': 273750006.61999995,
 'POLITICAS DE GENERO Y DIVERSIDAD': 12025338.319999997,
 'AREA DELEGADA DEPORTE': 20958922.439999998,
 'PRESIDENCIA DEL PLENO': 16699015.180000002,
 'ALCALDIA': 907005.37,
 'AREA DELEGADA TURISMO': 4009673.0300000003,
 'OF. MPAL. CONTRA FRAUDE Y CORRUPCION': 277901.85,
 'ENDEUDAMIENTO': 611927513.4,
 'CREDITOS GLOBALES Y FONDO CONTINGENCIA': 0.0}

In [279]:
gastosTotales=sum(Dict4.values())
gastosTotales

3290976869.5300007