In [ ]:
!pip install rdflib

In [ ]:
from rdflib import Graph, Namespace, Literal
from rdflib.namespace import RDF, RDFS
g = Graph()
example = Graph()

g.parse("../ontology/Presupuesto_Ayuntamiento_Madrid.ttl", format="ttl")
example.parse("../ontology/example.ttl", format="ttl")

In [ ]:
print(g.serialize(format="ttl").decode("UTF-8"))

In [ ]:
print(example.serialize(format="ttl").decode("UTF-8"))

# Show all the elements of the ontology, including the class to each one belongs to:

In [ ]:
from rdflib.plugins.sparql import prepareQuery
query_all_elements = prepareQuery('''
    SELECT DISTINCT ?x ?y
    WHERE
    {
      ?x rdf:type ?y
    }
  '''
)

for r in g.query(query_all_elements):
  print("Element: " + str(r.x) + " -  Class: " + str(r.y))

# See all the classes of the ontology:

In [ ]:
from rdflib.plugins.sparql import prepareQuery

owl = Namespace("http://www.w3.org/2002/07/owl#")


query_class = prepareQuery('''
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a owl:Class
    }
  ''',
  initNs = { "owl": owl }
)


for r in g.query(query_class):
  print(r.x)

# See all the instances of the example:

In [ ]:
query_instances = prepareQuery('''
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a ?y.
      ?y a owl:Class.
    }
  ''',
  initNs = { "owl": owl }
)

for r in example.query(query_instances):
  print(r.x)

# See all IRIs

In [ ]:
query_iris = prepareQuery('''        
    SELECT DISTINCT ?x
    WHERE
    {
      ?x a owl:sameAs
    }
  ''',
  initNs = { "owl": owl }
)

for r in example.query(query_iris):
  print(r.x)